:local(.basic) {
  background-color: red;
  font-size: 25px;
  color:blue;
  align-content: center;
}

:local(.outer) {
  display: flex;
}

:local(.left) {
  flex-grow: 1;
  display: flex;
  padding-right: 10px; 
}

:local(.left_cat) {
  flex-grow: 1;
}
:local(.left_rating) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

:local(.right) {
  flex-grow: 1;
  display: flex;
  padding-left: 10px;
  /* height: 10em; */
}

:local(.right_cat) {
  flex-grow: 1;
}
      
:local(.right_rating) {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}