
:local(.outer) {
  float: left;
  /* width: 20%; */
}

:local(.main) {
  float: right;
  /* width: auto; */
  /* display: inline-block; */
  /* position: relative right; */
}

:local(.filled_star) {
  color: #378287;
  display: inline;
}

:local(.empty_star) {
  color: #D8D8D8;
  display: inline;
}
